
.slideshow-container{
	max-width: 820px ;
	position :relative ;
	margin :auto ;
	margin-top : 49px;
	display : block;
	background-color : white;
}

.slide {
 display :none ;
}
.slide img {
	vertical-align : middle ;
}

.prev , .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right : 0;	
}

.prev:hover, .next:hover {
  background-color: black;
}

.dot{
	cursor : pointer ;
	height : 15px ;
	width : 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.activeDot , .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





























